{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href=" {% static 'orders/styles.css' %}">
	<!-- Datatables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="static/orders/logo.png" type="image/png">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index'%}">Brunette</a>
    <img src="static/orders/logo.png" alt="" width="50">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ventas
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <a class="nav-link" href="{% url 'index'%}">Hacer Venta</a>
                <a class="nav-link" href="{% url 'index'%}">Ver Ventas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Compras
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <a class="nav-link" href="{% url 'index'%}">Registrar Compra</a>
                <a class="nav-link" href="{% url 'index'%}">Ver Compras</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Caja
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <a class="nav-link" href="{% url 'apertura-caja'%}">Apertura de Caja</a>
                <a class="nav-link" href="{% url 'cierre-caja'%}">Cierre de Caja</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'ver-proveedores'%}">Proveedores</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'pago-impuestos' %}">Pago Impuestos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'cart'%}">Carrito de Ventas</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
        {% endif %}
        </ul>	
    </div>

</nav>
    {% if messages %}
    <!-- <ul class="messages"> -->
        {% for message in messages %}
        <div  {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} > {{ message }} </div>
        {% endfor %}
    <!-- </ul> -->
    {% endif %}
	<div class="container">	



	{% block body %}
    {% endblock %}

  </div>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Datatables JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            var tableOptions = {
                responsive: true,
                paging: true,
                pageLength: 8,
                lengthChange: true,
                autoWidth: true,
                info: true,
                sort: true,
                columnDefs: [
                    { orderable: false, targets: -1 }
                ],
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                },
                order: [[2, "asc"]],
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>", //Blfipr //Bfrtlip //"<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>"
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print',
                ],
                
            };
    
            $("#tabla-proveedores").each(function () {
                $(this).DataTable({
                    ...tableOptions,
                    columnDefs: [
                        ...tableOptions.columnDefs,
                        { searchable: false, targets: [-2, -1] }
                    ]
                });
            });
    
            $("#tabla-pagos").DataTable({
                ...tableOptions,
                columnDefs: [
                    ...tableOptions.columnDefs,
                    { searchable: true, targets: [-2] },
                    { searchable: false, targets: [-1] }
                ]
            });
        });
    
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rows = document.querySelectorAll('.datatable-row');
    
            gsap.set(rows, { opacity: 0, y: 20 });
    
            gsap.to(rows, { opacity: 1, y: 0, duration: 0.3, delay: function(index) { return index * 0.1; } });
        });
    </script>
</body>
</html>