{% extends "orders/base.html" %}

{% block title %}
    Cierre de Caja
{% endblock %}

{% block body %}
<h1>Cierre de Caja</h1>
<hr>
<form class="bg-light p-4 rounded" method="POST">
    {% csrf_token %}
    
    <div class="form-group">
        <label>Empleado: </label>
        <input type="text" class="form-control" name="empleado" value="{{empleado}}" disabled>
    </div>

    <div class="form-group">
        <label>Turno: </label>
        <select class="form-control" name="estado_factura">
            <option value="" disabled selected>Seleccione un turno..</option>
            <option value="Mañana">Mañana</option>
            <option value="Tarde">Tarde</option>
        </select>
    </div>

    <div class="form-group">
        <label>Caja: </label>
        {% if cajas %}
            <select class="form-control" id="exampleFormControlSelect1" name="size_id" >
                <option value="" disabled selected>Seleccione una caja..</option>
            {% for caja in cajas %}
                <option value="{{caja.numero}}">{{ caja.numero }}</option>
            {% endfor %}
            </select>
        {% endif %}
    </div>

    <div class="form-group">
        <label>Fecha y hora de Cierre: </label>
        <input type="datetime-local" class="form-control" name="username" placeholder="Username">
    </div>

    <div class="form-group">
        <label>Monto Final: </label>
        <input type="number" class="form-control" placeholder="Monto Inicial" name="monto">
    </div>

    <button class="btn btn-primary" type="submit" value="Cerrar">Cerrar Caja</button>
    <button class="btn btn-primary" value="Cancelar">Cancelar</button>
</form>

<a class="btn btn-primary mt-3" href="{% url 'cart' %}">Volver</a>

{% endblock %}
