{% extends "orders/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<h1>Inicio Sesión</h1>
<hr>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}

<form class="bg-light p-4 rounded" action="{% url 'login' %}" method="post">
	{% csrf_token %}
    <div class="form-group">
        <label>Usuario: </label>
        <input type="text" class="form-control" name="username" placeholder="Usuario">
    </div>
 
    <div class="form-group">
        <label >Contraseña: </label>
        <input type="password" class="form-control" placeholder="Contraseña" name="password" type="password">
    </div>

    <button type="submit" class="btn btn-primary" value="Login">Entrar</button>
</form>

<small>	Necesitas una cuenta? Click aquí para <a href="{% url 'signup' %}">Registrarse</a></small>
{% endblock %}