{% extends "orders/base.html" %}

{% block title %}
Restablecer contraseña
{% endblock %}

{% block body %}

<section class="vh-100" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">

                        <div class="">
                            <div class="card-body p-4 p-lg-5 text-black">
        
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <span class="h1 fw-bold mb-0">Restablecimiento de contraseña completado</span>
                                </div>

                                <p>Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.</p>

                                <a class="btn btn-primary" href="{% url 'login' %}">Iniciar Sesión</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>


{% endblock %}