{% extends "orders/base.html" %}

{% block title %}
Restablecimiento de contraseña enviado
{% endblock %}

{% block body %}

<section class="vh-100" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">

                        <div class="">
                            <div class="card-body p-4 p-lg-5 text-black">
        
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <span class="h1 fw-bold mb-0">Restablecimiento de contraseña enviado</span>
                                </div>

                                <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</p>

                                <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock %}