{% extends "orders/base.html" %}

{% block title %}
    Registro
{% endblock %}

{% block body %}

<!--
<h1>Registrarse</h1>
<hr>
<form class="bg-light p-4 rounded" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary" value="Register">Registrarse</button>
</form>

Si ya tienes una cuenta <a href="{% url 'index' %}" target="blank"><strong>inicia sesión</strong></a>.
-->

<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="static/orders/restaurante1.jpg"
                                      alt="Sample photo" class="img-fluid"
                                        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <form class="card-body p-md-5 text-black" method="POST">
                                <h3 class="mb-5 text-uppercase">Registrarse</h3>

                                {% csrf_token %}
                                {{form.as_p}}

                                <div class="d-flex justify-content-end pt-3">
                                    <button type="submit" class="btn btn-warning btn-lg ms-2" value="Register">Registrarse</button>
                                </div>
                                Si ya tienes una cuenta <a href="{% url 'index' %}" target="blank"><strong>inicia sesión</strong></a>.
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}